<h1>All Subscribers</h1>

<% @subscribers.each do |subscriber| %>

  <div class="first_name">
    <%= subscriber.first_name %>
  </div>
  <div class="last_name">
    <%= subscriber.last_name %>
  </div>
  <div class="email">
    <%= link_to subscriber.email, subscriber %>
  </div>
  <div class="topics">
      deals: <%= subscriber.deals %>
      reviews: <%= subscriber.reviews %>
      packages: <%= subscriber.packages %>
      star_ships: <%= subscriber.star_ships %>      
  </div>
  <div class="destinations">
    mars: <%=  subscriber.mars %>      
    jupiter: <%=  subscriber.jupiter %>      
    moon: <%=  subscriber.moon %>      
    saturn: <%=  subscriber.saturn %>      
    uranus: <%=  subscriber.uranus %>      
    neptune: <%=  subscriber.neptune %>      
    the_nearest_black_hole: <%=  subscriber.the_nearest_black_hole %>      
    the_endless_void: <%=  subscriber.the_endless_void %>              
    the_sun: <%=  subscriber.the_sun %>      
    pluto: <%= subscriber.pluto  %>      
    mercury: <%=  subscriber.mercury %>      
    venus: <%=  subscriber.venus %>
  </div>
  <div class="frequency">
    <%=  subscriber.frequency %>
  </div>
<% end %>
